/* tailwind */
@tailwind base;

@layer base {
    h1 {
        @apply text-2xl;
    }
    h2 {
        @apply text-xl;
    }
    h3 {
        @apply text-lg;
    }
    .text-indigo {
        color: indigo;
    }
}

@tailwind components;
/* components apply */
@layer components {
    .btn {
        @apply py-2 px-4 bg-indigo-500 text-white font-semibold rounded-lg shadow-md hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-400 focus:ring-opacity-75 no-underline;
    }
    .header-link {
        @apply font-medium text-gray-500 hover:text-gray-900;
    }
}

@tailwind utilities;
